{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@sections": "./src/sections",
          "types": "./src/interfaces",
          "css": "./src/styles",
          "@icons": ["./src/components/icons"]
        }
      }
    ]
  ]
}
