{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "@casperiv/eslint-config",
    "@casperiv/eslint-config-react",
    "@casperiv/eslint-config-next"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "unicorn/new-for-builtins": "error",
    "unicorn/no-array-for-each": "error",
    "@next/next/no-server-import-in-page": "off",
    "@typescript-eslint/no-redundant-type-constituents": "off"
  }
}
