.reactMarkdown {
  margin-top: 1rem;

  [data-info] pre {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
  }

  pre {
    border: none;
    font-family: theme("fontFamily.mono");
    background-color: theme("colors.primary");
    padding: 0.4em 0.5em;

    code {
      padding: 0;
    }
  }

  code {
    font-family: theme("fontFamily.mono");
    font-size: 16px;
    border-radius: theme("borderRadius.md");
    padding: theme("padding.1") theme("padding[1.5]");
    font-weight: theme("fontWeight.normal");

    &::before,
    &::after {
      content: "";
    }
  }

  [data-rehype-pretty-code-fragment] {
    border: theme("borderWidth.DEFAULT") solid rgba(70 92 92 / 0.5);
    box-shadow: theme("dropShadow.sm");
    border-radius: theme("borderRadius.md");

    [data-rehype-pretty-code-title] {
      font-family: theme("fontFamily.mono");
      padding: 0.2em 0.7em;
      color: theme("colors.secondary");
      box-shadow: theme("dropShadow.sm");
      border-bottom: theme("borderWidth.DEFAULT") solid rgba(70 92 92 / 0.5);
    }

    > pre {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    [data-line="true"] {
      padding: 0.2em 0.2em;
    }

    [data-line-highlighted="true"] {
      position: relative;

      display: inline-block;
      width: 100%;
      z-index: 1;

      &::after {
        --margin-left: 8px;

        content: "";
        position: absolute;
        inset: 0;
        left: calc(var(--margin-left) * -1);
        z-index: -1;
        width: calc(100% + 7px + var(--margin-left));
        pointer-events: none;

        background: rgba(200, 200, 255, 0.3);
        border-left: 3.5px solid theme("colors.secondary");
      }
    }
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    position: relative;
    scroll-margin-top: 6rem;

    a {
      position: absolute;
      cursor: pointer;

      width: 100%;
      height: 100%;
    }
  }

  summary {
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  details[open] {
    summary {
      margin-bottom: 1.5em;
    }
  }
}
