@font-face {
  font-family: "CascadiaMono";
  src: url("/fonts/CascadiaMono.woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.reactMarkdown {
  margin-top: 1rem;

  [data-info] code,
  [data-info] pre {
    background-color: #495057 !important;
  }

  pre {
    margin-top: -0.5em;
    border: none !important;
    font-family: "CascadiaMono", "Courier New", monospace !important;
    background-color: theme("colors.primary") !important;
    border-radius: 0.3rem;
    overflow-x: auto;
    position: relative;
    padding: 0.25em 0.5em !important;
    overflow-y: hidden;

    code {
      font-family: "CascadiaMono", "Courier New", monospace !important;
      padding: 0;
      background: none;
      font-size: 16px !important;
    }
  }

  > pre {
    border: 1.75px solid theme("colors.secondary") !important;
    box-shadow: theme("dropShadow.DEFAULT");
  }

  code {
    font-family: "CascadiaMono", "Courier New", monospace !important;
    font-size: 16px !important;
    border-radius: theme("borderRadius.md");
    padding: theme("padding.1") theme("padding[1.5]");
    font-weight: theme("fontWeight.light");

    &::before,
    &::after {
      content: "";
    }
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    position: relative;
    scroll-margin-top: 5rem;

    a {
      position: absolute;
      cursor: pointer;

      width: 100%;
      height: 100%;
    }
  }

  summary {
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  details[open] {
    summary {
      margin-bottom: 1.5em;
    }
  }
}
