@font-face {
  font-family: "CascadiaMono";
  src: url("/fonts/CascadiaMono.woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.blog__header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--text-color);
}

.left__container {
  display: flex;
  align-items: center;
}

.blog__author {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.blog__date {
  font-size: 1rem;
  margin-top: 0;
  font-weight: normal;
}

.blog__date span {
  font-weight: bold;
}

.right__container a {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: transparent;
  transition: background 200ms;
}

.react__markdown {
  margin-top: 1rem;

  a {
    text-decoration: underline;
    color: var(--text-color);
  }

  pre {
    padding: 0.2rem 0.5rem;
    background: var(--dark);
    border-radius: 0.3rem;
    overflow-x: auto;

    code {
      font-family: "CascadiaMono", "Courier New", monospace;
    }

    code {
      padding: 0.2rem 0.5rem;
      background: var(--dark);
      border-radius: 0.3rem;
    }
  }

  h4,
  h3,
  h2 {
    margin: 0;
    margin-top: 0.5rem;
  }

  p {
    margin: 0;
    margin-top: 0.2rem;
  }
}

.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: auto;
  }
}

.blog__item {
  display: block;
  width: 100%;
  background: transparent;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;

  transition: background 200ms;

  h2 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}

@media (hover: hover) {
  .blog__item:hover {
    background: var(--dark);
  }

  .right__container a:hover {
    background: var(--dark);
  }
}
