.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding-bottom: 2rem;

  a {
    text-decoration: underline;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);

  @media (max-width: 450px) {
    text-align: center;
    flex-direction: column;
  }
}

.footerIcon {
  width: 100px;
  height: 100px;

  @media (max-width: 768px) {
    display: none;
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;

  a {
    font-size: 1.1rem;
  }
}
