@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  @apply bg-blue text-white min-h-screen;
}

#__next {
  @apply min-h-screen;
}

@layer base {
  p {
    @apply text-lg;
  }

  .section-title {
    padding-top: 2.5em;
    margin-top: -2.5em;
    @apply text-3xl font-bold capitalize md:text-4xl;
  }
}

.animate-wave {
  animation: wave 1s alternate linear infinite;
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.rehype-code-title {
  border-bottom: 1.5px solid #2e3746;

  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  @apply bg-blue-1 border-b-[1.5px] p-2;

  + pre {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
