@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Rubik", sans-serif;
}

#__next {
  @apply min-h-screen;
}

@layer base {
  p {
    @apply text-lg;
  }

  .section-title {
    padding-top: 2.5em;
    margin-top: -2.5em;
    @apply text-3xl font-bold capitalize md:text-4xl;
  }
}

.animate-wave {
  animation: wave 1s alternate linear infinite;
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.open-nav-animation {
  animation: open-nav 130ms alternate linear;
}

@keyframes open-nav {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rehype-code-title {
  border-bottom: 1.5px solid #2e3746;

  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  font-family: "CascadiaMono", "Courier New", monospace;

  @apply bg-blue-1/90 dark:bg-blue-3/90 border-b-[1.5px] px-4 p-2 text-gray-300;

  + pre {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

details > .rehype-code-title {
  background: #495057 !important;
}
