@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Rubik", sans-serif;
}

#__next {
  min-height: theme("minHeight.screen");
}

@layer base {
  p {
    font-size: theme("fontSize.lg");
  }

  .section-title {
    padding-top: 2.5em;
    margin-top: -2.5em;
    font-size: theme("fontSize.3xl");
    font-weight: theme("fontWeight.bold");
    text-transform: capitalize;

    @media (min-width: 768px) {
      font-size: theme("fontSize.4xl");
    }
  }
}

.animate-wave {
  animation: wave 1s alternate linear infinite;
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.open-nav-animation {
  animation: open-nav 130ms alternate linear;
}

@keyframes open-nav {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rehype-code-title {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  font-family: "CascadiaMono", "Courier New", monospace;
  padding: 0.5rem 1rem;
  padding-bottom: 0.8rem; // evenly space the text to the center (y-axis)
  color: theme("colors.secondary");
  border: theme("borderWidth.DEFAULT") solid theme("colors.primary-dark");
  background-color: theme("colors.primary");
  box-shadow: theme("dropShadow.sm");

  + pre {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

details > .rehype-code-title {
  background: #52585d !important;
}
