@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: theme("fontFamily.sans");
}

#__next {
  min-height: theme("minHeight.screen");
}

@layer base {
  p {
    font-size: theme("fontSize.lg");
  }

  .section-title {
    padding-top: 2.5em;
    margin-top: -2.5em;
    font-size: theme("fontSize.3xl");
    font-weight: theme("fontWeight.bold");
    text-transform: capitalize;

    @media (min-width: theme("screens.md")) {
      font-size: theme("fontSize.4xl");
    }

    @media (min-width: theme("screens.lg")) {
      font-size: theme("fontSize.5xl");
    }
  }
}

.animate-wave {
  animation: wave 1s alternate linear infinite;
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.open-nav-animation {
  animation: open-nav 130ms alternate linear;
}

@keyframes open-nav {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.elements-grid {
  position: absolute;
  top: 0;
  // todo: mobile
  right: -8%;
  z-index: -10;

  max-height: 30em;
  display: grid;
  grid-template-areas:
    ". star ."
    "curly-bracket . ."
    ". . quote";
}
