.navContainer {
  width: 100%;
  height: 6rem;
}

.nav {
  z-index: 199;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  background: var(--bg);
}

.navActive {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.1);
  transition: 300ms;
}

.navContent {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
}

.navIcon {
  font-size: 2rem;
  font-weight: 500;
}

.navLinks {
  display: none;
  align-items: center;
}

.navLink {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--light);
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 250ms background-color;
  filter: brightness(90%);
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  margin: 0.2rem;

  &:hover {
    color: white;
    background-color: var(--dark);
  }
}

.hamburger {
  outline: none;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.hamburgerItem {
  margin: 0.2rem 0;
  width: 30px;
  height: 2px;
  background: var(--text-color);
}

.menuBg {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 200;
  display: none;

  &.menuBgActive {
    display: flex;
  }
}

.menuNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: var(--bg);
  transition: transform 100ms ease-out;
  z-index: 250;
  transform: translateX(100%);
  transform-origin: right;

  &.menuNavActive {
    transform: translateX(0);
  }
}

.closeMenu {
  outline: none;
  font-size: 3rem;
  background: none;
  border: none;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  padding: 10px;

  svg path {
    fill: var(--text-color);
  }
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.menuLinks {
  display: flex;
  flex-direction: column;
}

.menuLink {
  text-align: center;
  margin: 0.2rem 0;
  font-size: clamp(1.2rem, 7vw, 2rem);
  color: var(--text-color);
}

@media (max-width: 320px) {
  .menuLink {
    margin-bottom: 0rem;
  }

  .navHidden {
    display: none;
  }
}

@media (min-width: 1500px) {
  .menuNav {
    display: none;
  }
  .navLinks {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .menuBgActive {
    display: none !important;
  }
}
