.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(min(15rem, 100%), 1fr));
  gap: 1rem;

  @media (max-width: 910px) {
    grid-template-columns: repeat(2, minmax(min(15rem, 100%), 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, minmax(min(7rem, 100%), 1fr));
  }
}

.skillsItem {
  display: flex;
  flex-direction: column;

  header {
    margin-bottom: 0.7rem;

    h1 {
      font-size: clamp(1.1rem, 6vw, 1.5rem);
      font-weight: bold;
    }
  }

  li {
    list-style-type: none;
  }

  p {
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
  }
}

.tooltip {
  &:hover::after {
    opacity: 1;
  }

  &::after {
    text-align: center;
    z-index: 20;
    position: absolute;
    content: attr(aria-label);
    opacity: 0;
    width: 100%;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 200ms;
    background: var(--secondary);
    color: var(--text-color);
    padding: 7px 10px;
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgb(22, 27, 34, 0.2);
    pointer-events: none;
    font-weight: 500;
    font-size: 1.1rem;
  }
}
