.main {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title h1 {
  font-size: clamp(2rem, 10vw, 5.5rem);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main__title h3 {
  font-size: clamp(1.2rem, 7vw, 2.5rem);
  margin-top: -15px;
  font-weight: 400;
  text-align: center;
}

.main__text {
  color: var(--light);
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.btn__container {
  margin-bottom: 2rem;
  display: flex;
}

.btn__container .btn:nth-child(odd) {
  margin: 0 10px;
}

.btn__container .btn:first-child {
  margin-left: 0;
}
