.nav__container {
  width: 100%;
  height: 6rem;
}

.nav {
  z-index: 999;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  background: var(--lighter);
}

.nav--active {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.1);
  transition: 300ms;
}

.nav__content {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
}

.nav__icon {
  font-size: 2rem;
  font-weight: 300;
}

.nav__links {
  display: none;
  align-items: center;
}

.nav__link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--light);
  transition: 300ms color;
  margin-left: 20px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--primary);
}

.hamburger {
  outline: none;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  cursor: pointer;
}

.hamburger__item {
  margin: 0.2rem 0;
  width: 30px;
  height: 2px;
  background: var(--primary);
}

.menu__nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: var(--lighter);
  transition: left 200ms;
}

.close__menu {
  outline: none;
  font-size: 3rem;
  background: none;
  border: none;
  position: absolute;
  right: 0.2rem;
  top: 0.5rem;
  cursor: pointer;
}

.close__menu svg path {
  fill: var(--primary);
}

.menu__nav--active {
  left: 0%;
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.menu__links {
  display: flex;
  flex-direction: column;
}

.menu__link {
  text-align: center;
  margin: 1rem 0;
  font-size: clamp(1.2rem, 7vw, 4rem);
  color: var(--primary);
}

@media (max-width: 320px) {
  .nav__hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__links {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
